<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/styles.css" />
    <title>Whisper API Client</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th,
        td {
            border: 0px solid;
            padding: 4px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        #response-tab {
            display: none;
            margin-top: 20px;
        }
        pre {
          border: 1px solid #ddd;
          padding: 20px;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          background-color: white;
          white-space: pre-wrap;
      }
    </style>
</head>
<body>
<header id="head">
    <h1>Whisper API Client</h1>
    <h4>Description</h4>
    <nav>
        <ul></ul>
    </nav>
</header>
<table>
    <tr>
        <td>
            <form
                    id="transcriptionForm"
                    action="/"
                    method="post"
                    enctype="multipart/form-data"
            >
                <label for="audioFile">Select an audio file:</label>
                <input
                        type="file"
                        id="audioFile"
                        name="file"
                        accept=".mp3, .wav, .ogg"
                        required
                />

                <label for="task">Select task:</label>
                <select id="task" name="task" required>
                    <option value="transcribe">Transcribe</option>
                </select>

                <label for="lang">Select language:</label>
                <select id="lang" name="lang" required>
                    <option value="en">English</option>
                    <option value="es">Spanish</option>
                </select>

                <label for="output">Select output format:</label>
                <select id="output" name="output" required>
                    <option value="txt">Text (txt)</option>
                    <option value="json">JSON</option>
                </select>

                <button id="formB" onclick="startTranscription()" type="submit">
                    Transcode
                </button>
            </form>
        </td>
        <td>
            <!-- Audio Recording Section -->
            <div id="audioRecordSection">
                <h2>Record Audio</h2>
                <p>Click the button below to start recording audio:</p>
                <button id="recordButton">Start Recording</button>
                <button
                        id="stopButton"
                        onclick="startTranscription()"
                        style="display: none"
                >
                    Stop Recording
                </button>
            </div>
        </td>
    </tr>
</table>
<table>
    <tr>
        <td>
            <div id="circle" style="display: none">
                <div class="outerCircle"></div>
                <div class="innerCircle"></div>
                <div class="icon"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div id="response-tab" style="display: none"> <!-- Make sure to set display to block -->
                {% if result %}
                    <h3>Response:</h3>
                    <p>{{ result }}</p>
                {% endif %}
            </div>
        </td>
    </tr>
</table>

<script>
    const recordButton = document.getElementById("recordButton");
    const stopButton = document.getElementById("stopButton");

    // Start recording when the "Start Recording" button is clicked
    recordButton.addEventListener("click", startRecording);
    recordButton.disabled = false;

    // Stop recording when the "Stop Recording" button is clicked
    stopButton.addEventListener("click", stopRecording);

    let mediaRecorder;
    let audioChunks = [];

    async function startRecording() {
        const stream = await navigator.mediaDevices.getUserMedia({
            audio: true,
        });

        mediaRecorder = new MediaRecorder(stream);

        mediaRecorder.ondataavailable = (event) => {
            if (event.data.size > 0) {
                audioChunks.push(event.data);
            }
        };

        mediaRecorder.onstop = () => {
            const audioBlob = new Blob(audioChunks, { type: "audio/wav" });
            const audioFile = new File([audioBlob], "recorded_audio.wav");
            sendAudioToServer(audioFile);
        };

        mediaRecorder.start();
        recordButton.style.display = "none";
        stopButton.style.display = "inline";
    }

    function stopRecording() {
        if (mediaRecorder.state === "recording") {
            mediaRecorder.stop();
        }

        recordButton.style.display = "inline";
        stopButton.style.display = "none";
    }

    async function sendAudioToServer(audioFile) {
        const formData = new FormData();
        formData.append("file", audioFile);

        // Add other form data if needed
        formData.append("task", document.getElementById("task").value);
        formData.append("lang", document.getElementById("lang").value);
        formData.append("output", document.getElementById("output").value);

        try {
            const response = await fetch("/", {
                method: "POST",
                body: formData,
            });
            if (response.ok) {
              const contentType = response.headers.get("content-type");

                if (contentType && contentType.includes("application/json")) {
                    const jsonResponse = await response.json();
                    console.log(jsonResponse);
                    updateResultContent(JSON.stringify(jsonResponse, null, 2));
                } else {
                    const textResponse = await response.text();
                    console.log(textResponse);
                    updateResultContent(textResponse);
                }
          } else {
              console.error("Non-OK response:", response.status, response.statusText);
          }
        } catch (error) {
            console.error("Error sending audio to server:", error);
            recordButton.disabled = true;
            const circle = document.getElementById("circle");
            circle.style.display = "none";
        } finally {
            recordButton.disabled = true;
            const circle = document.getElementById("circle");
            circle.style.display = "none";
            const formB = document.getElementById("formB");
            formB.style.color = "white";
            stopButton.style.color = "white";
            recordButton.style.color = "white";
            formB.innerText = "Transcode";
        }
    }

    function startTranscription() {
        const circle = document.getElementById("circle");
        circle.style.display = "block";
        const formB = document.getElementById("formB");
        formB.style.color = "grey";
        stopButton.style.color = "grey";
        recordButton.style.color = "grey";
        formB.innerText = "processing...";
        
    }

    function updateResultContent(content) {
      const resultContentElement = document.getElementById("response-tab");
      const results = document.getElementById("response-tab");
      results.style.display = "block";
      if (resultContentElement) {
          resultContentElement.innerText = content;
      }
  }
</script>
</body>
</html>
